#app {
    font-family: Ubuntu, Avenir, Helvetica, Arial, sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding: 60px 60px 60px;
}
/* #app input.md-input {
   flex: 0 1 auto;
} */

body, html.md-theme-default {
    background-color: #333333;
}

/* These are outside of the #app div */
body .md-select-menu {
    font-family: Ubuntu, Avenir, Helvetica, Arial, sans-serif;
    font-size: 12px;
    /* TODO hack, not sure why the default style is transparent for material select menu */
    background-color: white;
}
body .md-select-menu.md-menu-content {
    width: initial;
    /* min-width: 100px; */
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
